a {
  cursor: pointer; }

.main nav {
  background-color: #f6d1a4; }
  .main nav .nav-item {
    font-size: 1.3rem; }

.main .alert {
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
  width: 100%; }

.main .carousel {
  height: 70vh;
  width: 100%;
  overflow: hidden; }
  .main .carousel .carousel-item {
    height: 70vh; }
    .main .carousel .carousel-item .carousel-caption {
      bottom: 45%; }
    .main .carousel .carousel-item p {
      font-size: 2rem; }
    .main .carousel .carousel-item h5 {
      font-size: 3.25rem; }

.advanced {
  padding: 5% 0; }
  .advanced_item svg {
    width: 100%;
    display: block; }
  .advanced_item h3 {
    font-size: 1.4rem; }

.reserv .table_main {
  padding: 3% 3%;
  overflow-y: auto; }
  .reserv .table_main thead {
    background-color: #f6d1a4;
    color: #333; }

.reserv_form {
  padding: 3% 3%; }

.reserv .card-deck {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reserv .modal-body img {
  width: 100%; }

.reserv .card {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  margin: 0; }
  .reserv .card .card-header img {
    width: 100%; }

.reserv .minus {
  cursor: pointer;
  width: 30%;
  float: left;
  text-align: center; }

.reserv .plus {
  cursor: pointer;
  width: 30%;
  float: right;
  text-align: center; }

.reserv .inp_price {
  width: 40%;
  text-align: center;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray; }

.reserv .count_box {
  width: 69%;
  border: 1px solid gray;
  margin: auto; }

.footer {
  background-color: #f6d1a4;
  padding: 5% 0; }
  .footer svg {
    width: 90%; }

.btn:hover {
  background-color: #333;
  color: #f4a460;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.btn {
  width: 100%;
  background-color: #f4a460;
  border: 1px solid #f6d1a4; }

.btn-secondary {
  width: 100%;
  background-color: #f6d1a4;
  border: 1px solid #333; }

#pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none; }

#pagination li {
  margin-right: 5px;
  padding: 10px;
  border: 1px solid black; }

#pagination li:hover, #pagination li.active {
  cursor: pointer;
  color: #f6d1a4;
  border: 1px solid #808080; }

@media (max-width: 800px) {
  .main .carousel {
    height: auto; }
    .main .carousel .carousel-item {
      height: auto; } }

@media (min-width: 800px) {
  .main .carousel {
    height: auto; }
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto; } }
